.sys-notes{
    display: block;
    padding: 15px 10px 15px 14px;
    margin-bottom: $basicMargin;
    border-left: 4px solid $notesBorderColor;
    background: $notesBgColor;
    line-height: 22px;
}