.tag-nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 53px;
    padding: 10px;
    background: $white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 2px #f2f2f2;
    box-sizing: border-box;
    .tag-nav-item{
        display: inline-block;
        position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        margin-right: 10px;
        border: 1px solid $--tag-border;
        border-radius: 4px;
        background-color: $--tag-fill;
        text-decoration: none;
        span{
            width: 16px;
            height: 16px;
            line-height: 16px;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            transition: all .3s ease;
            transform-origin: 100% 50%;
            font-size: 12px;
            color: $themeColor;
            &:before {
                display: inline-block;
            }
            &:hover {
                background-color: $themeColor;
                color: $white;
            }
        }
        &.cur{
            background-color: $themeColor;
            color: $white;
            & span{
                color: $white;
                &:hover{
                    background-color: lighten($themeColor, 34%);
                    color: $themeColor;
                }
            }
        }
    }
}
