.sys-login{
    width: 100%;
    height: 100%;
    background: #2d3a4b;

    .login-area {
        width: 330px;
        padding-top: 10%;
        margin: 0 auto;
        .logo {
            width: 100%;
            height: 200px;
            text-align: center;
                img {
                width: 160px;
            }
        }
    }

    .form-group {
        input::-webkit-input-placeholder{
            color: #7e9fb0;
        }
        position: relative;
        padding-bottom: 20px;
        color: #ccc;
        overflow: hidden;
        .el-input__inner {
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            background: rgba(0,0,0,.1);
            border: 1px solid rgba(255,255,255,.1);
            border-radius: 4px;
            color: #ccc;
            font-size: 15px;
            overflow: hidden;
            &:hover{
                border-color: rgba(255,255,255,.2);
            }
            &:focus{
                border-color: rgba(255,255,255,.4);
            }
        }
        .el-form-item{
            &.is-error .el-input__inner{
                border-color: #d45b5b;
            }
            &.captcha input{
                width: 200px;
            }
            &.captcha img{
                float: right;
            }
        }
        .el-form-item__error{
            color: #d45b5b;
        }
    }

    .btn-login {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 10px 0;
        padding: 0;
        background: #424f60;
        border: none;
        border-radius: 4px;
        color: #ccc !important;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        &:hover{
            background: darken(#424f60, 2%)
        }
    }
    
    .err-msg{
        color: #d45b5b;
    }
    .tip{
        margin-top: 10px;
        color: #ccc;
    }

    .lang-toggle{
        text-align: center;
        color: #ccc;
        span{
            display: inline-block;
            width: 26px;
            height: 26px;
            line-height: 26px;
            border-radius: 50%;
            color: #ccc;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            &.cur{
                background: #ff6363;
                color: #2d3a4b;
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        line-height: 80px;
        color: #ccc;
        font-size: 16px;
        text-align: center;
    }
}