// 基础颜色
//-------------------------------
$white: #fff;
$lighterGray: #eee;
$lightGray: #ccc;
$neutralGray: #aaa;
$gray: #999;
$darkGray: #666;
$darkerGray: #333;
$red: #d45b5b;

// 主题颜色
//-------------------------------
$themeColor: #324053;
$themeColorLighter: lighten($themeColor, 5%);
$themeGray: #f2f2f2;
$fontColor: $darkerGray;
$linkColor: #42b983;
$borderColor: #d2d2d2;
$pageColor: $white;
$shadowColor: rgba(0,0,0,0);

// 字体及图片设置
//-------------------------------
// 设置1rem = 20px。需要与util/rem.js中的值相同
$baseRem: 20px;
// 非响应式基本字号大小
$basicFontSize: 14px;
// 响应式基本字号大小
$baseResponseSize: 1.3rem;
$basicFontFamily: "Helvetica", "Microsoft Yahei", san-serif;
$basicFontColor: $fontColor;
$basicMargin: 10px;
$basicPadding: $basicMargin;
// 图片主题路径
$baseImageURL: '~sysStatic/images/green/';

// 组件设置
//-------------------------------

// login
$loginBg: $themeColor;
$loginBtn: #424f60;
$loginTextColor: $lightGray;
$loginErrTextColor: $red;
$loginInputErrBg: inherit;
$loginInputBorderColor: rgba(255,255,255,.1);
$loginInputBg: $themeColor;
$loginInputColor: $loginTextColor;
$loginLangCurBg: #ff6363;
$loginLangCurColor: $themeColor;

// header
$headerHeight: 60px;
$headerBgColor: darken($themeColor, 5%);
$headerBorderColor: none;
$headerShadow: $shadowColor;
$headerColor: #c2c2c2;
$headerFontSize: 20px;

// sidenav
$leftNavWidth: 160px;
$sidenavBgColor: $themeColor;
$sidenavCurrent: #20a0ff;
$sidenavBorder: none;

// sysNotes
$notesBgColor: $lighterGray;
$notesBorderColor: $themeColor;