// 基础颜色
//-------------------------------
$white: #fff !default;
$lighterGray: #eee !default;
$lightGray: #ccc !default;
$neutralGray: #aaa !default;
$gray: #999 !default;
$darkGray: #666 !default;
$darkerGray: #333 !default;
$red: #d45b5b !default;

// 主题颜色
//-------------------------------
$themeColor: #52bab5 !default;
$themeColorLighter: lighten($themeColor, 30%) !default;
$themeColorDarken: darken($themeColor, 8%) !default;
$themeGray: #f9f9f9 !default;
$fontColor: $darkerGray !default;
$linkColor: #5cc2c1 !default;
$borderColor: #5cc1c0 !default;
$pageColor: $white !default;
$shadowColor: rgba(0,0,0,0) !default;

// 字体及图片设置
//-------------------------------
// 设置1rem = 20px。需要与util/rem.js中的值相同
$baseRem: 20px !default;
// 非响应式基本字号大小
$basicFontSize: 14px !default;
// 响应式基本字号大小
$baseResponseSize: 1.3rem !default;
$basicFontFamily: "Helvetica", "Microsoft Yahei", san-serif !default;
$basicFontColor: $fontColor !default;
$basicMargin: 10px !default;
$basicPadding: $basicMargin !default;
// 图片主题路径
$baseImageURL: '~sysStatic/images/default/' !default;

// 组件设置
//-------------------------------

// login
$loginBg: url($baseImageURL+"login.jpg") center center no-repeat !default;
$loginBtn: #069e95 !default;
$loginTextColor: darken($white, 12%) !default;
$loginErrTextColor: #e5b989 !default;
$loginInputBorderColor: none !default;
$loginInputBg: $lighterGray !default;
$loginInputErrBg: #ffdede !default;
$loginInputColor: $darkGray !default;
$loginLangCurBg: darken($loginBtn, 2%) !default;
$loginLangCurColor: $lighterGray !default;

// header
$headerHeight: 60px !default;
$headerBgColor: $themeColor !default;
$headerBorderColor: none !default;
$headerShadow: $shadowColor !default;
$headerColor: #c2c2c2 !default;
$headerFontSize: 20px !default;

// sidenav
$leftNavWidth: 160px !default;
$topNavItemColor: $white !default;
$topNavItemHoverBg: $themeColorDarken !default;
$topNavItemActiveBg: $themeColorLighter !default;
$topSubNavItemColor: $themeColorDarken !default;
$sidenavBgColor: #f4f4f4 !default;
$sidenavBorder: 1px solid $lightGray !default;

// sysNotes
$notesBgColor: $lighterGray !default;
$notesBorderColor: $themeColor !default;