@import './default/default.scss';
.page {
    background-color: $mainContentBgColor
}
.side-nav {
    &.left {
        background-color: $sidenavBgColor
    }
    &.top {
        &>.el-menu {
            &>.el-menu-item.is-active {
                border-bottom-color: #20a0ff;
            }
            &>.el-submenu>.el-menu {
                background-color: #324157;
                .el-menu {
                    .el-menu-item:hover {
                        background-color: #223142;
                        color: #fff;
                    }
                }
                .el-menu-item {
                    color: #bfcbd9;
                    &:hover {
                        background-color: #1f2d3d;
                    }
                }
                .el-submenu__title {
                    &:hover {
                        background-color: #1f2d3d;
                    }
                }
                .el-submenu{
                    width: 100%;
                    &.is-active>.el-submenu__title{
                        border-bottom-color: transparent;
                    }
                    &.is-opened>.el-submenu__title{
                        background-color: #1f2d3d;
                    }
                    &.is-opened>.el-menu{
                        background-color: #1f2d3d;
                    }
                }
            }
        }
    }
}