.sys-app{
    position: relative;
    width: 100%;
    height: 100%;
}
.sys-page{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.sys-error-page{
    position: relative;
    width: 100%;
    height: 100%;
}
.sys-content{
    position: absolute;
    top: $headerHeight;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    &.left{
        left: $leftNavWidth;
    }
    &.top{
        left: 0
    }
}