.sys-app{
    position: relative;
    width: 100%;
    height: 100%;
}
.sys-page{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.sys-error-page{
    position: relative;
    width: 100%;
    height: 100%;
}
.sys-content{
    position: absolute;
    top: $headerHeight;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    &.left{
        left: $leftNavWidth;
    }
    &.top{
        left: 0
    }
}
.sys-article{
    font-size: $systemFontSize;
    line-height: 24px;
    margin-bottom: 20px;
    padding: 0 16px;
    h2{
        font-size: 15px;
    }
    & > div{
        margin-bottom: 5px;
    }
    a{
        color: #42b983;
        &:hover{
            text-decoration: underline;
        }
    }
    p{
        margin-bottom: 5px;
    }
    code{
        display: inline;
        padding: 0 6px;
        margin: 0 6px;
        font-family: Consolas;
        background: #ececec;
    }
    strong{
        font-weight: bold;
    }
    ol{
        padding-left: 20px;
        list-style-type: decimal;
        list-style-position: inside;
    }
    .notice{
        padding: 6px;
        margin-bottom: 5px;
        background: #ececec;
    }
}
.sys-pre{
    padding: 0 20px;
    background: #ececec;
    code{
        font-family: Consolas;
    }
}