.sys-app{
    position: relative;
    width: 100%;
    height: 100%;
}
.sys-page{
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
.sys-error-page,
.sys-full-page{
    position: relative;
    width: 100%;
    height: 100%;
}
.sys-content{
    position: absolute;
    top: $headerHeight;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    &.left{
        left: $leftNavWidth;
    }
    &.top{
        left: 0
    }
}